.chatinput {
  &__supercontainer {
    position: relative;
    height: 45px;
    margin-top: 1rem;
  }
  &__container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 0.65rem;
    padding-left: 1rem;
    border-radius: 14px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    background-color: #23232479;
  }
  &__input {
    &-container {
      width: calc(100% - 9.5rem);
      position: relative;
    }
    box-sizing: content-box;
    background-color: transparent;

    resize: none;
    border: none;
    font-size: 1rem;
    height: auto;
    width: 100%;
    color: #dddada;
    font-family: inherit;
  }
  &__btn {
    position: relative;
    background-color: transparent;
    color: #8175fd;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 1px 6px;
    margin-left: 0.75rem;
    align-self: center;
    & img {
      width: 1.6rem;
      border-radius: 4px;
    }
  }
  &__gifpicker {
    &-container {
      bottom: 2.5rem;
      position: absolute;
      width: 18rem;
      background-color: #232324;
      box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
      padding: 0.5rem;
      min-height: 7rem;
      border-radius: 7px;
    }
  }
  &__emojipicker {
    &-container {
      bottom: 2.5rem;
      position: absolute;
    }
    &-triangle {
      bottom: -9px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-top: 9px solid #232324;
    }
  }
}
aside.emoji-picker-react {
  background: #232324 !important;
  border: none !important;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1) !important;
}
.emoji-picker-react .emoji-group:before {
  background: transparent !important;
}
.emoji-picker-react .emoji-categories {
  filter: invert(1) !important;
}
