.chatbox {
  &__container {
    @media screen and(max-width:950px) {
      width: calc(100% - 15rem);
    }
    @media screen and(max-width:900px) {
      padding: 1rem 2rem;
    }
    @media screen and(max-width:850px) {
      padding: 1rem;
    }
    @media screen and(max-width:650px) {
      display: none;
    }
    &-opensm {
      @media screen and(max-width:650px) {
        display: block;
        width: 100%;
      }
    }
    width: calc(100% - 17rem);
    background-color: #232324d5;
    border-radius: 0 20px 20px 0;
    backdrop-filter: blur(6px);
    padding: 1rem 3rem;
    position: relative;
  }
  &__dragoverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.445);
    z-index: 1;
    font-size: 1.4rem;
    font-weight: 300;
  }
}
