.searchuser {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(4px);
  }
  &__container {
    font-family: "Roboto";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 14px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    background-color: #232324c7;
  }
  &__header {
    text-align: center;
    font-weight: 300;
    font-size: 1.7rem;
    color: #fff;
  }
  &__form {
    margin-top: 2rem;
    width: 100%;
    &-label {
      font-weight: 300;
      display: block;
      color: #fff;
      margin-bottom: 0.5rem;
      font-size: 1.1rem;
    }
    &-textfield {
      &-container {
        border: 1px solid #888;
        box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.2);
        display: flex;
        border-radius: 4px;
        margin-bottom: 1.5rem;
        align-items: center;
        width: 20rem;
        max-width: 80vw;
        &-error {
          border-color: rgb(255, 81, 81);
          animation: 0.2s forwards ease-in-out 2 wiggle;
        }
      }
      padding: 0.5rem;
      color: #fff;
      font-family: inherit;
      font-size: 1.1rem;
      background-color: transparent;
      border: none;
      width: 100%;
      font-weight: 300;
      &-btn {
        cursor: pointer;
        margin-right: 0.5rem;
        display: flex;
        font-size: 1.2rem;
        color: #fff;
      }
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px rgb(35, 35, 36) inset !important;
        -webkit-text-fill-color: #fff !important;
        &:hover,
        &:focus,
        &:active {
          -webkit-box-shadow: 0 0 0 30px rgb(35, 35, 36) inset !important;
        }
      }
    }
  }
  &__btn {
    margin-top: 2rem;
    display: block;
    width: 100%;
    background-color: #2c76ff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 2.5rem;
    border-radius: 4px;
    color: #fff;
    font-size: 1.1rem;
    border: none;
  }
}
