@import "../../Common/mixins.scss";

.signup {
  &__container {
    margin-left: 1rem;
    background-color: rgba(35, 35, 36, 0.835);
    height: 32rem;
    border-radius: 20px;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    padding: 2rem;
    width: 5rem;
    overflow: hidden;
    transition: all 1s;
    @media screen and(max-width:600px) {
      transition: none;
      margin-left: 0;
      max-width: 97%;
    }
    &-open {
      width: 30rem;
      & .signup__content {
      }
    }
    &-closed {
      @media screen and(max-width:600px) {
        display: none;
      }
      width: 5rem;
      & .signup__content {
        opacity: 0;
      }
    }
  }
  &__content {
    transition: all 0.3s;
    white-space: nowrap;
  }
  &__title {
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    @media screen and(max-width:600px) {
      font-size: 1.65rem;
    }
  }
  &__subtitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #7e7c7c;
    text-align: center;
  }
  &__form {
    margin-top: 2rem;
    &-label {
      font-weight: 300;
      display: block;
      color: #fff;
      margin-bottom: 0.5rem;
      font-size: 1.1rem;
    }
    &-textfield {
      &-container {
        border: 1px solid #888;
        box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.2);
        display: flex;
        border-radius: 4px;
        margin-bottom: 1.5rem;
        align-items: center;
      }
      padding: 0.5rem;
      color: #fff;
      font-family: inherit;
      font-size: 1.1rem;
      background-color: transparent;
      border: none;
      width: 100%;
      font-weight: 300;
      &-btn {
        cursor: pointer;
        margin-right: 0.5rem;
        display: flex;
        font-size: 1.2rem;
        color: #fff;
      }
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px rgb(35, 35, 36) inset !important;
        -webkit-text-fill-color: #fff !important;
        &:hover,
        &:focus,
        &:active {
          -webkit-box-shadow: 0 0 0 30px rgb(35, 35, 36) inset !important;
        }
      }
    }
  }
  &__btn {
    @include shine;

    display: block;
    width: 100%;
    background-color: #2c76ff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    height: 2.5rem;
    border-radius: 4px;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
  }
  &__subtext {
    font-size: 1.1rem;
    color: #dddbdb;
    margin-top: 1rem;
    font-weight: 300;
    cursor: pointer;
  }
  &__status {
    margin-top: 1rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-weight: 300;
    color: #f54e38;
    animation: 0.2s forwards ease-in-out 2 wiggle;
  }
}
